/vendor
/node_modules
/.env
/.phpunit.result.cache
/_volume
/_volumes
Homestead.json
Homestead.yaml
/storage/*.key
/storage/logs/*.log
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/bootstrap/cache/*.php
.phpactor.json
.idea
.vscode
.DS_Store
